<style>
      .containers {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    top: 20px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}
</style>

<div class="col-sm-3" ></div>
<div class='containers col-sm-6' style="margin-left:400px">
    <h1><strong>Crear nueva factura</strong></h1>
    <label class='control-label' for='facturaDireccion'> Dirección: *</label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <input id="facturaDireccion"  ng-model="data.direccion" class="col-sm-6 form-control" required>
  </div>
    

    
    <div class="input-group" style="margin-top: 10px">
        <label class='control-label'>Hora </label>
        <select class="selectpicker" ng-init="data.horas = horas[0]" ng-model="data.horas" ng-options="x for x in horas" style="width: 60px; height: 30px; margin-left: 10px">
    </select>
    
        <label class='control-label' style="padding-left: 10px">Minutos </label>
    <select class="selectpicker" ng-init="data.minutos = minutos[0]" ng-model="data.minutos" ng-options="x for x in minutos" style="width: 60px; height: 30px; margin-left: 10px">
    </select>

  </div>
    
    <div class="input-group" style="margin-top: 10px">
    <label class='control-label' for='facturaPrecio'> Precio: *</label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-usd"></span>
    </div>
    <input id="facturaPrecio"  ng-model="data.precio" class="col-sm-6 form-control" required>
    </div>
   
     <button class="btn btn-success" style="margin-top:10px"  ng-click="createFactura(factura.id)" ng-click="parseFecha()" value="Save">¡Crear!</button>
     <button class="btn btn-warning" style="margin-top:10px; margin-left: 10px" ui-sref="facturas">Cancelar </button>
    </div>
</div>

