<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Pqrs</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="pqrsCreate"><span class="glyphicon glyphicon-plus-sign"></span> Nueva Pqrs</a>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Estado</th>  
                            
                            <th>Fecha</th>  
                            
                            <th>Tipo</th>
                            
                            <th>¿Resuelto?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pqrs in pqrsRecords">
                    <td>
                        {{pqrs.id}}
                    </td>
                    <td>
                        {{pqrs.fecha}}
                    </td>
                    <td>
                        <p>{{pqrs.estado}}</p>   
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" ng-model="pqrs.estado" ng-false-value="'Pendiente'" ng-true-value="'Resuelto'" id="defaultCheck1">
                    </td>
                    
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>








