<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row" style="margin-top: 10px; margin-left: 10px">
 <a ng-if="hasPermissions() && isAuthenticated()" class="btn btn-info" ui-sref="pqrsCreate"><span class="glyphicon glyphicon-plus-sign"></span> Nueva Pqrs</a>
</div>

<table class="table table-striped" style="background-color: white;margin-top: 10px">
                    <thead style="background-color: #F5F5DC">
                        <tr>
                            <th>Estado</th>  
                            
                            <th>Fecha</th>  
                            
                            <th>Tipo</th>
                            
                            <th ng-if="isAuthenticated() && !hasPermissions()">¿Resuelto?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pqrs in pqrsRecords">
                    <td>
                        {{pqrs.id}}
                    </td>
                    <td>
                        {{pqrs.fecha}}
                    </td>
                    <td>
                        <p>{{pqrs.estado}}</p>   
                    </td>
                    <td ng-if="isAuthenticated() && !hasPermissions()">
                        <input class="form-check-input" type="checkbox" ng-model="pqrs.estado" ng-false-value="'Pendiente'" ng-true-value="'Resuelto'" id="defaultCheck1">
                    </td>
                    
                    </tr>
                    </tbody>
                </table>






