<html ng-app="mainApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Pasteleando</title>
        
        <meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        
        
        <!-- Custom styles -->
        <link href="src/css/landing-page.min.css" rel="stylesheet">
        <link href="src/css/additionalStyles.css" rel="stylesheet">
        
        
        <!-- Import del js de este file -->  
        <!-- Dependencias Externas -->
        
        
        
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        
     
        <!-- Cientes -->
        
        <script src="src/modules/cliente/cliente.mod.js" type="text/javascript"></script>
        <script src="src/modules/cliente/cliente.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/cliente/cliente.mod.js" type="text/javascript"></script>
        <script src="src/modules/cliente/cliente.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/cliente/cliente.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/cliente/delete/cliente.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/cliente/new/cliente.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/cliente/update/cliente.update.ctrl.js" type="text/javascript"></script>
        
        
        <script src="src/modules/login/login.mod.js" type="text/javascript"></script>
        <script src="src/modules/login/login.ctrl.js" type="text/javascript"></script>
        
       <script src="src/modules/login/logout.ctrl.js" type="text/javascript"></script>

        
        <!-- Facturas -->
        <script src="src/modules/factura/factura.mod.js"></script>
        <script src="src/modules/factura/factura.ctrl.js"></script>
        <script src="src/modules/factura/create/factura.create.ctrl.js"></script>
        <script src="src/modules/factura/update/factura.update.ctrl.js"></script>
        
        <!-- carrito -->
        <script src ="src/modules/Carrito/carrito.mod.js"></script>
        <script src ="src/modules/Carrito/carrito.ctrl.js"></script>
        <script src ="src/modules/Carrito/carrito.detail.ctrl.js"></script>


        
        <!-- Pedidos -->
        <script src="src/modules/Pedido/pedido.mod.js" type="text/javascript"></script>
        <script src="src/modules/Pedido/pedido.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/Pedido/pedido.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/Pedido/new/pedido.new.ctrl.js"></script>
        <script src="src/modules/Pedido/delete/pedido.delete.ctrl.js"></script>
        
        <!-- Pqrs -->
        <script src="src/modules/Pqrs/pqrs.mod.js" type="text/javascript"></script>
        <script src="src/modules/Pqrs/pqrs.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/Pqrs/pqrs.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/Pqrs/new/pqrs.new.ctrl.js"></script>
        <script src="src/modules/Pqrs/delete/pqrs.delete.ctrl.js"></script>
        
        <!-- Personalizada -->
        <script src="src/modules/personalizada/personalizada.mod.js" ></script>
        <script src="src/modules/personalizada/personalizada.ctrl.js" ></script>
        <script src="src/modules/personalizada/personalizada.detail.ctrl.js" ></script>
         <script src="src/modules/personalizada/create/personalizada.create.ctrl.js"></script>
        
        <script src="src/modules/calificacion/calificacion.mod.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/calificacion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/calificacion.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/delete/calificacion.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/new/calificacion.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificacion/update/calificacion.update.ctrl.js" type="text/javascript"></script>
        
        <!-- Catalogo -->
        <script src="src/modules/catalogo/catalogo.mod.js" type="text/javascript"></script>
        <script src="src/modules/catalogo/catalogo.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/catalogo/catalogo.mod.js" type="text/javascript"></script>
        <script src="src/modules/catalogo/catalogo.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/catalogo/catalogo.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/catalogo/delete/catalogo.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/catalogo/create/catalogo.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/catalogo/update/catalogo.update.ctrl.js" type="text/javascript"></script>
        
        <!-- Promociones -->
        <script src="src/modules/promocion/promocion.mod.js" type="text/javascript"></script>
        <script src="src/modules/promocion/promocion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/promocion/promocion.mod.js" type="text/javascript"></script>
        <script src="src/modules/promocion/promocion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/promocion/promocion.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/promocion/delete/promocion.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/promocion/new/promocion.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/promocion/update/promocion.update.ctrl.js" type="text/javascript"></script>
        
        <script src="src/app.js" type="text/javascript"></script>
        <script src="src/http-interceptor.factory.js" type="text/javascript"></script> 
        
        
      
        
    </head>
    
    <body>
        
        <div>
            <!-- Navigation -->
         
                    
                    
                    
    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
   
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse container header" id="bs-example-navbar-collapse-1">
             <a ui-sref="home"><h2 style="font-family:Tahoma">Pasteleando</h2></a>
            <ul class="nav navbar-nav pull-right">
                        <li> </li>
                        <li><a ui-sref="catalogoList">Nuestros Pasteles</a></li>
                        <li><a ui-sref="promocionList">Nuestras Promociones</a></li>
                        <li ng-if="hasPermissions() && !isAuthenticated()"><a ui-sref="pedidoList">Pedidos</a></li>
                        <li ng-if="hasPermissions() && !isAuthenticated()"><a ui-sref="facturas">Facturas</a></li>
                        
                        <li ng-if=" hasPermissions() || isAuthenticated()"><a ui-sref="calificacionList">Calificaciones</a></li>
                        <li ng-if=" hasPermissions() || isAuthenticated()"><a ui-sref="pqrsList">Pqrs</a></li>
                        <li ng-if="isAuthenticated() && !hasPermissions()"><a ui-sref="admin">Todos los clientes</a></li>
                        <li ng-if="isAuthenticated() && !hasPermissions()"><a ui-sref="personalizadaList">Pedidos de Pasteles Personalizados</a></li>
                    </ul>  
                    <ul class="nav navbar-nav navbar-right">

                    <li ng-if="hasPermissions() && isAuthenticated()"><a ui-sref="clienteList"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li ng-if="!hasPermissions() && !isAuthenticated()"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li ng-if="!hasPermissions() && !isAuthenticated()"><a ui-sref="clienteCreate"> Sign Up Cliente</a></li>
                    <li ng-if="isAuthenticated() || hasPermissions()"><a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span></a></li>

 
                    </nav>
            
            
            <!-- Masthead -->
           
            
            <div class="col-sm-4"></div>
            <div class="container-fluid">
                <div ui-view="mainView"></div>
            </div>
            <div class="col-sm-4">
                
            </div>
            
            <!-- Icons Grid -->
            
            <div ui-view ="homeView"></div>
            <div ui-view="createView"></div>
            <div ui-view="updateView"></div>
            <div ui-view="createPqrs"></div>
            <div ui-view="logout"></div>
            <div ui-view="admin"></div>
            
            
            
            
            
    </body>
</html>
