<style>
      .containers {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    top: 20px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
   
}
</style>


<div class='containers col-sm-12' style="height:30%">
    <h1><strong>Datos viejos de la promocion</strong></h1>
    <div ng-value="promocionsRecords1">
        
        <div class="container-fluid" style="margin-top: 10px"><label>Direccion: </label> <label>{{promocionsRecords1.direccion}} </label></div>
        
        <div class="container-fluid" style="margin-top:10px"> <label>Fecha: </label> <label>{{promocionsRecords1.fecha}} </label></div>
       
        <div class="container-fluid" style="margin-top:10px"><label>Hora: </label> <label>{{promocionsRecords1.hora}} </label></div>
        
        <div class="container-fluid" style="margin-top:10px"><label>Precio: </label> <label>{{promocionsRecords1.precio}} </label></div>
        
        
    </div>
     
</div>

<div class='containers col-sm-12' style="height:50%" ng-value="promocionsRecords1"> 
    <h1><strong>Datos a insertar de la promocion</strong></h1>
    
    
    <label class='control-label' for='promocionDireccion'> Dirección: *</label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-home"></span>
    </div>
        
    <input id="promocionDireccion"  ng-model="data.direccion" class="col-sm-6 form-control" ng-value="promocionsRecords1.direccion">
    
  </div>
    
    <label class='control-label' for='promocionFecha'>Fecha:(En YYYY-MM-DD) * </label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </div>
       
    <input id="promocionFecha"  ng-model="data.fecha" class="col-sm-6 form-control" ng-value='promocionsRecords1.fecha'>
  </div>
    
    <label class='control-label' for='promocionHora'> Hora:(En HH:MM) * </label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-time"></span>
    </div>
    <input id="promocionHora"  ng-model="data.hora" class="col-sm-6 form-control" ng-value='promocionsRecords1.hora'>
  </div>
    
     <label class='control-label' for='promocionPrecio'> Precio: *</label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-usd"></span>
    </div>
    <input id="promocionPrecio"  ng-model="data.precio" class="col-sm-6 form-control" ng-init="data.precio" ng-value='promocionsRecords1.precio'>
      
    </div>
   
     <button class="btn btn-success" style="margin-top:50px"  ng-click="updatepromocion(promocionsRecords1.id)" ng-click="parseFecha()" value="Save">¡Editar!</button>     
     <button class="btn btn-warning" style="margin-top:50px" ui-sref="promocions">Cancelar </button>
     
   
</div>
