
<div class="panel panel-default plantillaUsu" >
    
    <div class="panel-body">

        <div class="row">

            <h2 id="loginID9">Iniciar Sesión <br></h2>

            <p id="loginID10">
                
                Ingresa tus datos de acceso a nuestro sistema. <br>
           </p>
            <div class="row">
                <p id="errorLogin" class="text-center">
                    
                </p>
            </div>
            <hr>

            <div class=" text-center plantillaUsu" >

                <form id="loginID11" name="formaLogin"  novalidate ng-submit="login()">
                    
                    <div class=" col-md-3">
                        
                    </div>
                        
                    <div id="loginID1" class=" thumbnail col-md-5">
                        <h2 id="loginID2">Informacion de Cuenta</h2>
                        <br>
                        
                        <div id="radioLogin" class="text-center">
                            
                            <input type="radio" name="saberCliente" ng-model='tipoUsuario' value="false"> Cliente
                            <input type="radio" name="saberAdmin" ng-model='tipoUsuario' value="true"> Administrador
                            
                        </div>
                        
                        <br>
                        <div id="loginID3" class="input-group">
                            <span id="loginID4" class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>
                            <input id="nameLogin" type="name" class="form-control usuariosLogin" name="name" placeholder="Nombre" ng-model='name' required>
                        </div>
                        
                        <br>
                        
                        <div id="loginID5" class="input-group">
                            <span id="loginID6" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="passwordLogin" type="password" class="form-control usuariosLogin" name="password" placeholder="Contraseña" ng-model='clave' required>
                        </div>
                        
                        <br>
                        
                        <input id="loginID8" type="submit" value="Ingresar" ng-click="autenticar()">

                        <br>
                        
                    </div>

                </form>

            </div>
            
        </div>
        
    </div>
</div>