
 <div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
         
               
            <div class="panel-body">
                <form ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)" name="personalizada">
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="personalizadaFoto" class="col-sm-2">Foto:</label>
                            <textarea id="personalizadaFoto" required ng-model="foto" class="col-sm-6"></textarea>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="personalizadaPeso" class="col-sm-2">Peso:</label>
                            <textarea id="personalizadaPeso" required ng-model="peso" class="col-sm-6"></textarea>
                        </div>
                    </div>          
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="personalizadaColor" class="col-sm-2">Color: </label>
                             <select class="selectpicker" ng-init="Blanco" ng-model="data.colores" ng-options="x for x in colores" style="width: 60%px; height: 30px">
    </select>
                        </div>
                    </div>   

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!peso.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los campos son necesarios</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="peso.$valid" type="submit" value="Save" class="btn btn-success"/>
                             <button class="btn btn-success"   ng-click="createDecoracionPersonalizada()"  value="Save">¡Crear!</button>
    
                            <a class="btn btn-info" ui-sref="catalogoList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


