<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentcatalogo.imagen}}" style="height:400px;width:600px"/>
                </div>
            </div>
            <div class="col-md-3">
                <dl>    
                    <dt>{{currentcatalogo.name}}</dt>
                    <hr>
                    <dt class="bold">Color del Pastel</dt>
                    <dd>{{currentcatalogo.color}}</dd>
                    <hr>
                    <dt class="bold">Descripción del Pastel </dt>
                    <dd>{{currentcatalogo.descripcion}}</dd>
                    <hr>
                    <dt class="bold">Peso del Pastel </dt>
                    <dd>{{currentcatalogo.peso}}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            
            <a ng-if="isAuthenticated() && hasPermissions()" class="btn btn-primary" ng-click="agregarAPedido({catalogoId: currentcatalogo.id})"> Comprar pastel</a>
        </div>
    </div>
            </div>
        </div>

    </div>
</div>
