
<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
 <div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <h1>Crea una nueva decoración catálogo!</h1>
               
            <div class="panel-body">
                <form ng-submit="ctrl.saveRecord(currentRecord.id)" name="catalogo">
                    
                              
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="catalogoCategoria" class="col-sm-2">Categoria: </label>
                            <textarea id="catalogoCategoria" required ng-model="data.categoria" class="col-sm-6"></textarea>
                        </div>
                    </div>   

                    <div class="form-group row">
                        <div class="form-group col-sm-4" >

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                         <div class="form-group col-sm-12">
                             <button class="btn btn-success"   ng-click="createcatalogo()"  value="Save">¡Crear!</button>
    
                            <a class="btn btn-info" ui-sref="catalogoList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



