<div class="row" style="margin-top: 10px; margin-left: 10px">
   
</div>
    <div class="col-sm-10">
    <div class="responsive-table">
        <table class="table table-bordered" style="background-color: white">
            <thead style="background-color: #F5F5DC ">
             
            <th style="width:250px"  >
                Foto
            </th>
            <th >
                Peso
            </th>
            <th >
                Color
            </th>
             <th ng-if="isAuthenticated() && !hasPermissions()">¿Aprobado?</th>
            
            </thead>
            <tbody>
                <tr ng-repeat="personalizada in personalizadaRecords">
                    
                    <td>
                       <img class="img-responsive" ng-src='{{personalizada.foto}}' alt="{{personalizada.name}}" style="height:200px;width:200px"/>  
                    </td>
                    <td>
                        {{personalizada.peso}}
                    </td>
                    <td>
                        {{personalizada.color}}
                    </td>
                    <td ng-if="isAuthenticated() && !hasPermissions()" >
                        <input class="form-check-input" type="checkbox" ng-model="personalizada.estado" ng-false-value="'Reprobado'" ng-true-value="'Aprobado'" id="defaultCheck1">
                    </td>
                
                </tr>
            </tbody>
        </table>
    </div>
</div>








</div>
