<style>
      .containers {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    top: 20px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}
</style>

<div class="col-sm-3" ></div>
<div class='containers col-sm-6' style="margin-left:400px">
    <h1><strong>Crear nueva promocion</strong></h1>
    <label class='control-label' for='promocionDireccion'> Dirección: *</label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-home"></span>
    </div>
    <input id="promocionDireccion"  ng-model="data.direccion" class="col-sm-6 form-control" required>
  </div>
    
    <label class='control-label' for='promocionFecha'>Fecha:(En YYYY-MM-DD) * </label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </div>
    <input id="promocionFecha"  ng-model="data.fecha" class="col-sm-6 form-control" required>
  </div>
    
    <label class='control-label' for='promocionHora'> Hora:(En HH:MM) * </label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-time"></span>
    </div>
    <input id="promocionHora"   ng-model="data.hora" class="col-sm-6 form-control" required>
  </div>

    <label class='control-label' for='promocionPrecio'> Precio: *</label>
    <div class="input-group">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-usd"></span>
    </div>
    <input id="promocionPrecio"  ng-model="data.precio" class="col-sm-6 form-control" required>
    </div>
   
     <button class="btn btn-success" style="margin-top:10px"  ng-click="createpromocion(promocion.id)" ng-click="parseFecha()" value="Save">¡Crear!</button>
     <button class="btn btn-warning" style="margin-top:10px" ui-sref="promocions">Cancelar </button>
</div>

