<div class="container-fluid">
    <div class="panel-group"  >
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createcliente">Crear nueva cliente</label>
                <label ng-if="edit" id="editcliente">Editar cliente</label></div>
            <div class="panel-body">
                <form name="cliente">
                    <div class="form-group row">
                      
                        
                        <div class="form-group col-md-6">
                            
                          <label for="clienteName" class="col-sm-2">Nombre:</label>
                            <input id="clienteName" required ng-model="data.name" class="col-sm-6"/>
                                                       
                        </div>
                        
                        <label>Forma de pago: </label>
                       <select class="selectpicker" ng-init="opcionesPago[0]" ng-model="data.formaPagoActual" ng-options="x for x in opcionesPago" style="width: 100px; height: 30px; margin-left: 10px">
    </select>
                        
                       
                    </div>
                    
                    <div class="row">
                        <div id="loginID5" class="form-group col-md-4">
                            <span id="loginID6" class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="passwordLogin" type="password" class="form-control usuariosLogin" name="password" placeholder="Contraseña" ng-model='cliente.clave' required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" >

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los campos son necesarios*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-click="createcliente()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="clienteList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

</div>


