<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

  <head>
    <link data-require="bootstrap@*" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div ng-if="isAuthenticated() && hasPermissions()" class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <label ng-if="!edit" id="createPqrs">Crear una nueva Pqrs</label>
          </div>
          <div class="panel-body">
            <form name="pqrs">
              <div class="form-group row">
                <div class="form-group col-md-6">
                  <label for="nombreCliente" class="col-sm-2">Nombre:</label>
                  <input id="nombreCliente" required="" ng-model="data.name" class="col-sm-6" />
                </div>
              </div>
               <div class="form-group row">
                <div class="form-group col-md-6">
                  <label for="idCliente" class="col-sm-2">Cedula:</label>
                  <input id="idCliente" required="" ng-model="data.name" class="col-sm-6" />
                </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6">
                  <label for="fechaPqrs" class="col-sm-2">Fecha de realizacion de la pqrs:</label>
                  <input type="date" id="fechaPqrs" placeholder="DD/MM/YYYY" required="" ng-model="data.fechaPedido" class="col-sm-6" />
                </div>
              </div>
              <div class="form-group row">
              <div class="form-group col-md-6">
              <label for="Tipo" class="col-sm-2">Tipo de solicitud:</label>
              <select name="OS">
              <option value="1">Peticion</option> 
              <option value="2">Queja</option> 
              <option value="3">Reclamo</option>
              <option value="4">Sugerencia</option> 
              </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6">
                  <label for="Descripcion de la pqrs" class="col-sm-2">Descripcion:</label>
                  <textarea id="Descripcion de la pqrs" required="" ng-model="data.description" class="col-sm-6"></textarea>
                </div>
              </div>
              <move-lists ng-if="edit" selected="selectedItems" available="availableItems"></move-lists>
              <div class="form-group row">
                <div class="form-group col-sm-4" ng-if="!pqrs.$valid">
                  <div class="alert alert-warning">
                    <strong>Warning!</strong>
                    <p>All inputs are required*</p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-sm-12">
                  <input ng-show="pqrs.$valid" ng-click="createPqrs()" value="Enviar" class="btn btn-success" />
                  <a class="btn btn-info" ui-sref="pqrsList">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>




