<div class="row" style="margin-top: 10px; margin-left: 10px">
 <a ng-if="hasPermissions() && isAuthenticated()" class="btn btn-primary" ui-sref="calificacionCreate"> Añadir una nueva calificacion</a>
</div>

<table class="table table-striped" style="background-color: white; margin-top: 10px">
                    <thead style="background-color: #F5F5DC">
                        <tr>
                            <th>Id</th>
                            <th>Puntaje</th> 
                            
                            <th>Actions</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="calificacion in calificacionRecords">
                            <td id="{{$index}}-name"><a ui-sref="calificacionDetail({calificacionId: calificacion.id})">{{calificacion.id}}</a></td>
                            <td>
                        {{calificacion.puntaje}}
                    </td>
                    
                            <td id="{{$index}}-actions">
                                <a class="btn btn-default btn-sm" ui-sref="calificacionUpdate({calificacionId: calificacion.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger btn-sm" ui-sref="calificacionDelete({calificacionId: calificacion.id})"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>